body{
    font-family: 'Otomanopee One', sans-serif;
   
}
h1{
    font-size: 250%;
    color: rgb(235, 237, 250);
    
    
}
h2{
    color: rgb(242, 246, 247)
   
   
}
.spam-class{
    color: rgb(255, 34, 5);
}
section{
    background-image: url(images/banaz.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: cover;
    padding: 13%;
    
}


.first-s-d{
    width: 50%;
  
    
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, skyblue);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.secon-se{
    background-image: url(images/workspace-desk-2\ 2.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    background-size: cover;
    padding: 2%;
}
.secon-se-d-one{
    width: 50%;
    padding: 5%;
    background-image: linear-gradient(rgb(91, 91, 187),rgb(255, 246, 246));
    margin: 5%;
    border-radius: 10%;
}
.secon-se-d-two{
    
}